<nav>
    <ul>
        <li><a href="/" title="home">home</a> </li>
        <li><a href="/contact" title="contact">contact</a> </li>
        <li><a href="/profile/adi" title="profile">profile</a> </li>
    </ul>
    </nav>